N8N_METER_SOURCE_ID=my-n8n
N8N_METER_SOURCE_LABEL=My n8n
N8N_VERSION=2.26.9
N8N_NETWORK=n8n_default
PGHOST=postgres
PGDATABASE=n8n
PGUSER=n8nmeter_reader
N8N_METER_DB_PASSWORD_FILE=./.local/db-password
N8N_UPSTREAM=http://n8n:5678
N8N_METER_PORT=7812
N8N_METER_AUTH_PASSWORD_FILE=./.local/operator-password
